.icon{
  position: absolute;
  width: 2vw ;
  z-index: 3;
}
.a{
  left: 44vw;
  top: 70vw;
}
.b{
  left: 48vw;
  top: 78vw;
}
.c{
  left:55vw;
  top: 68vw;
}

.d{
  left:48vw;
  top: 71vw;
} 

.e{
  left:40vw;
  top: 70vw;
} 

.f{
  left:49vw;
  top: 66vw;
}
/*.g {
   left: 67vw;
   top: 71vw;
}*/

.informacao_a{
  transition:.2s ease all;
  position: absolute;
  top: 70vw;
  left:50vw;
  width:130px;
  padding:.5em;
  background:#fff;
  min-height:50px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border:#ddd 1px solid;
  border-radius:5px;
  opacity:1;
  display: none;
  z-index: 20;
}  

.informacao_b{
  transition:.2s ease all;
  position:absolute;
  left: 54vw;
  top: 78vw;
  width:130px;
  padding:.5em;
  background:#fff;
  min-height:50px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border:#ddd 1px solid;
  border-radius:5px;
  opacity:1;
  display: none;
  z-index: 20;
}  

.informacao_c{
  transition:.2s ease all;
  position:absolute;
  left:61vw;
  top: 68vw;
  width:130px;
  padding:.5em;
  background:#fff;
  min-height:50px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border:#ddd 1px solid;
  border-radius:5px;
  opacity:1;
  display: none;
  z-index: 20;
}

.informacao_d{
  transition:.2s ease all;
  position:absolute;
  left:54vw;
  top: 71vw;
  width:130px;
  padding:.5em;
  background:#fff;
  min-height:50px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border:#ddd 1px solid;
  border-radius:5px;
  opacity:1;
  display: none;
  z-index: 20;
}

.informacao_e{
  transition:.2s ease all;
  position:absolute;
  left:36vw;
  top: 70vw;
  width:130px;
  padding:.5em;
  background:#fff;
  min-height:50px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border:#ddd 1px solid;
  border-radius:5px;
  opacity:1;
  display: none;
  z-index: 20;
}
.informacao_f{
  transition:.2s ease all;
  position:absolute;
  left:45vw;
  top: 66vw;
  width:130px;
  padding:.5em;
  background:#fff;
  min-height:50px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  border:#ddd 1px solid;
  border-radius:5px;
  opacity:1;
  display: none;
  z-index: 20;
}

