body{
  font-family: 'Raleway', sans-serif;
}
#a{
	background-image: url("../imgs/zn2.jpg");	
	background-size: 100%;

}
#c {
	background-image: url("../imgs/img2.jpg");
  background-size: 100%;
}
#e{
	background-image: url("../imgs/img3.jpg");
  background-size: 100%;

}
#a , #c{
	background-attachment: fixed;
	width: 100%;
	height: 100%;
  margin-top: -25px;
	
}
#d , #b, #f, #e{
	
	background-attachment: fixed;
	width: 100%;
	height: 400px;
} 
#g{

	bottom: 0;
  position: relative;
  width: 100%;
  height: 9%;
  text-align: center;
	background-color: grey;
}
#c{
	height: 65%;
}
div{
	background-color: white;
	
	
}
#logo{
	display: block;
        
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-top: 30%;
    position: relative;

}
#seta{
	display: block;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    
    cursor: pointer;

    animation-name: example;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:50px;}
    100%   {left:0px; top:0px;}
    
    }
.block{
  cursor:pointer;
  display: inline-block;
  background-color: grey;
  width: 300px;
  height: 400px;
  margin: 15px;
  border-radius: 30px;
}
#mapa{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 8%;
}
#menu{
	width: 300px;
 	float: right;
 	background: transparent;
 	position: relative;
  margin-top: 16px;
  font-family: "open sans",arial,sans-serif;

}

a{
	text-decoration: none;
	color:white;
	padding: 13px;

}
#sobreposicao{
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0.5;
}

#d{
display: flex;
justify-content: center;}

.bloc1 {
  display: inline-block;
  /*background-color: #E8ECDE;*/
  width: 300px;
  height: 300px;
  margin: 15px;
  border-radius: 30px;
}
img{
	width: 170px;
	margin-left: 70px; 
	margin-top: 30px;

}
a{
	text-decoration: none;
	 color: #850716;
	 font-size: 16px;

}
p,h2{
 text-align: center;
font-family: 'Raleway', sans-serif;
 margin: 12px;
 color: #007662;


}
.MOCITEC{
	height: 110px;
}
h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 12px;
    color: #007662;
    padding-top: 30;
}
	#somos{
    font-family: 'Raleway', sans-serif;
    margin: 200px;
    color: #007662;
    font-size: 19;
	}

	#f{
	justify-content: center;
	background-color: #efeff4;
	height: 300px;
	}
	span{
		color: #850716;
	}
  .btn {
      border: none;
    font-family: inherit;
    font-size: 13px;
    cursor: pointer;
    padding: 25px 25px;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    position: relative;
}


/* Button 6 */
.btn-6 {
  color: white;
  background: #315f5a;
}


/* Button 6i */
.btn-6i {
  border: 2px dotted #315f5a;
  border-radius: 60px;
}

.btn-6i:hover {
  background: transparent;
  color: #315f5a;
}
.meiooucenter{
    background-color:transparent;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#meubotao{
   margin-right: auto;
    margin-left: auto;
    width: 251px;
    background: transparent;
        padding-top: 12%;

}
a:hover{
  /*background-color: red;*/
  color: #315f5a;
  border: 1px dotted #315f5a;
  border-radius: 60px;
}
